<!DOCTYPE html>
<html>
<head>
  <title>UTS-DIF</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= include_gon %>


  <%= javascript_pack_tag 'uts_dif/application' %>
  <%= stylesheet_pack_tag 'uts_dif/assets/stylesheets/app' %>

</head>
<body>
  <!--div for application-->
  <div id="app"></div>
</body>
</html>
